@import "reset.css";

/*region Regular resolution*/
html {

}

body {
    max-width: 90%;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 255, 242, 0.8);
}

header {
    height: 700px;
}

.header-nav {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    /*flex: 1 1 50%;*/
    align-items: center;
    padding: 0 4rem;
}

.header-nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header-nav h1 {
    font-size: 2rem;
}

.header-nav h1, .header-nav p {
    padding: 0;
}

.header-nav ul {
    display: flex;
    justify-content: flex-end;
}

.header-nav li {
    padding: 0 2rem;
    font-size: 1.25rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 80%;
    position: relative;
}

.header-left, .header-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 3rem;
}

.header-left img {
    width: 60%;
    position: absolute;
    left: 7rem;
    top: 5rem;
    z-index: 10;
}

.header-right h1, .header-right p {
    padding-left: 3rem;
}

.header-right h1 {
    font-size: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.header-right p {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.full-little-circle {
    position: absolute;
    left: 2.5rem;
    top: 3rem;
}

.full-little-circle-container {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
}

.little-circle {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    position: absolute;
}

.main-circle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.circle-container {
    width: 20rem;
    height: 18rem;
    overflow: hidden;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: -5rem;
    left: -60px;
}

.right-bottom-circle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right-circle-container {
    width: 12rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
}

.right-circle {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: -4rem;
    right: -3.5rem;
}

#projects h1 {
    font-size: 3rem;
    /*text-decoration: underline;*/
    padding: 2rem 0 1rem 4rem;
}

#projects li>h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

#projects p {
    padding-bottom: 0.5rem;
}

#projects p:last-child {
    padding-bottom: 1rem;
}

#projects ul {
    padding: 0 10rem;
}

header, article {
    border: 1px solid black;
}

article:nth-of-type(odd)
{
    background-color: aliceblue;
}

article:nth-of-type(even) {
    background-color: rgba(255, 255, 242, 0.8);
}

article:not(:first-child) {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
}

article div {
    text-align: center;
}

article h2 {
    font-size: 2.25rem;
    font-style: italic;
}

article div:last-child {
    text-align: center;
}

article div h2 {
    font-size: 2.5rem;
    font-style: normal;
    padding-left: 4rem;
}

article img {
    width: 75%;;
    margin: 0 auto;
    transition: transform 0.3s ease;
    padding: 1rem;
}

article img:hover {
    transform: scale(1.5);
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    height: 175px;
    /*border: 2px solid black;*/
    color: white;
}

footer div {
    width: 50%;
    text-align: center;
}

footer h1, p
{
    padding-bottom: 0.5rem;
}

footer div:first-child {
    border-right: 5px solid white;
}

footer div:first-child h1 {
    font-style: italic;
}

footer div:last-child {

}

footer div:last-child>p:last-child {

}

footer img {
    display: inline-block;
    vertical-align: middle;
}
/*endregion*/

/*region Resolution 980-1050*/
@media only screen and (min-width: 980px) and (max-width: 1050px)
{
    body {
        width: 100%;
    }
}
/*endregion*/

/*region Resolution 650-979*/
@media only screen and (min-width: 650px) and (max-width: 979px)
{
    body {
        width: 100%;
    }

    .header-nav h1 {
        font-size: 1.5rem;
    }

    .header-nav div {
        width: 100%;
    }

    .header-left, .header-right {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        padding: 0;
    }

    .header-left img {
        width: 55%;
        position: relative;
        /*left: auto;*/
        /*top: auto;*/
    }
    .header-right h1 {
        font-size: 2.25rem;
        padding-top: 1.5rem;
        padding-bottom: 0;
    }

    .header-right p {
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
    }

    .circle {
        width: 15rem;
        height: 15rem;
    }

    header {
        height: 425px;
    }

    #projects h1 {
        font-size: 2.5rem;
        padding-top: 1rem;
    }

    #projects ul {
        margin: 0 auto;
        padding: 0 4rem;
    }

    article:not(:first-child) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    article div h2 {
        padding-top: 1rem;
        padding-left: 0;
        text-align: center;
    }

    article a {
        display: block;
        padding-bottom: 1rem;
    }

    article img {
        width: 100%;
    }

    article img:hover {
        transform: scale(1.25);
    }

    footer {
        height: 150px;
    }

    footer div:first-child {
        /*display: none;*/
        border: none;
    }

    footer div:last-child h1 {
        /*width: 100%;*/
        font-size: 1.5rem;
    }
}
/*endregion*/

/*region Resolution (375-679) */
@media only screen and (min-width: 375px) and (max-width: 649px)
{
    body {
        width: 100%;
    }

    header {
        height: auto;
    }
    .header-nav {
        display: block;
        padding: 0;
        /*justify-content: center;*/
    }

    .header-nav h1 {
        padding-top: 2rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .header-nav>div {
        width: 100%;
    }
    
    .header-nav>div:last-child {
        display: block;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .header-nav li {
        display: block;
        padding: 0;
    }

    .circle-container, .circle, .full-little-circle, .right-circle-container, .little-circle, .right-circle, .right-bottom-circle {
        display: none;
    }

    .header-content {
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
        /*justify-content: space-evenly;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .header-left, .header-right {
        /*display: block;*/
        width: 100%;
        padding: 0;
    }

    .header-left
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:1rem;
        /*display: flex;*/
        /*position: relative;*/
    }

    .header-left img {
        max-width: 100%;
        height: auto;
        /*display: none;*/
        position: relative;
        left: auto;
        top: auto;
        border: solid 8px green;
        border-radius: 50%;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .header-right h1 {
        padding: 0.5rem 0 0 0;
        text-align: center;
        font-size: 3rem;
        /*padding-top: 2rem;*/
        /*padding-bottom: 1rem;*/
    }

    .header-right p {
        padding: 0 0 1rem 0;
        /*text-align: center;*/
        /*font-size: 1.5rem;*/
    }

    .header-right p:last-child {
        padding-bottom: 1.5rem;
    }

    #projects h1 {
        font-size: 2.25rem;
        padding: 1rem 0 0.5rem 1rem;
    }

    #projects h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #projects ul {
        padding: 0 1rem 1rem 1rem;
    }

    #projects p {
        padding-bottom: 1.5rem;
    }

    article:not(:first-child) {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    article div h2 {
        padding: 1rem 0 0 0;
        text-align: center;
    }

    article img {
        width: 100%;
    }

    footer {
        height: 150px;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 0.90em;
    }

    footer div:first-child {
        display: none;
    }

    footer div:last-child {
        width: 100%;
    }
}
/*endregion*/
